@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
 background-image: url('/images/image.png');
 background-position: center;
 background-attachment: fixed;
 background-repeat: no-repeat;
 background-size: cover;
 opacity: inherit;
 opacity: 0.5;
 opacity: initial;
 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
